
services:
  mysql:
    image: mysql:9.0
    container_name: ecommerce-mysql
    restart: unless-stopped
    environment:
      MYSQL_DATABASE: ${DB_NAME}
      MYSQL_ROOT_PASSWORD: ${DB_PASSWORD}
    ports:
      - "${DB_PORT}:3306"
    volumes:
      - mysql_data:/var/lib/mysql
    command:
      --character-set-server=utf8mb4
      --collation-server=utf8mb4_unicode_ci
  valkey:
    image: valkey/valkey:8
    container_name: valkey
    ports:
      - "${REDIS_PORT}:6379"
    volumes:
      - valkey-data:/data
    healthcheck:
      test: [ "CMD", "valkey-cli", "ping" ]
      interval: 5s
      timeout: 3s
      retries: 20
    restart: unless-stopped
volumes:
  mysql_data:
  valkey-data:
